# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual env
venv/
.venv/

# Env
.env
.env.*

# Uploads (garder uniquement .gitkeep si besoin)
uploads/*
!uploads/.gitkeep

# Logs
*.log

# OS
.DS_Store
Thumbs.db
